<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Extent Reports Test">
        <classes>
            <class name="com.juice.tests.ReportTest">
                <methods>
                    <include name="getTitle"/>
                    <include name="verifyLogo"/>
                    <include name="skyTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>